.my-files-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-folder {
    border-radius: 4px;
}

.my-folder-title {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    min-height: 28px;

    border-radius: 4px;
    cursor: pointer;

    color: var(--text-muted);
}

.my-file-title {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    min-height: 28px;
    padding-left: 8px;
    padding-right: 8px;

    border-radius: 4px;
    cursor: pointer;

    color: var(--text-muted);
}

.collapse-icon {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.my-folder-title-content {
    flex: 1;
    min-width: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font: 15px;
}

.my-folder-children {
    margin-left: 12px;
    padding-left: 3px;
    border-left: 1px solid var(--background-modifier-border);
}

.root-directory {
    width: 100%;
    flex: 1;
}

.my-folder-title:hover {
    background-color: var(--background-modifier-hover);
    color: var(--text-normal);
}

.my-file-title:hover {
    background-color: var(--background-modifier-hover);
    color: var(--text-normal);
}

.my-file-title.is-active {
    background-color: var(--background-modifier-hover);
    color: var(--text-normal);
}

.is-being-dragged {
    opacity: 30%;
}

.my-folder.is-being-dragged-over, 
.view-content.is-being-dragged-over{
    background-color: var(--background-modifier-active-hover);
    color: var(--text-accent);
}

.my-file.is-being-dragged-over {
    border-top: 2px solid var(--background-modifier-active-hover);
}

.my-drag-image {
    position: absolute;
    top: -1000px;
    left: -1000px;

    background: var(--background-primary);
    color: var(--text-normal);
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    width: max-content;
    pointer-events: none;
}